.container {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

header {
	margin: 0 0 47px 0;
}

.logo {
	display: block;
	font-weight: 400;
	font-size: 80px;
	line-height: 94px;
	color: #000000;
	text-decoration: none;
	margin-top: 63px;
	margin-bottom: 38px;
}

.color-accent {
	color: #4fcbfe;
}

.main-menu-navigation {
	background: #35444F;
}

.main-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.main-menu-item {
	margin: 0;
	border-right: 1px solid #FFFFFF;
}

.main-menu-item:hover {
	background: #222F3A;
}

.main-menu-item:first-child {
	border-left: 1px solid #FFFFFF;
}

.main-item-link {
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
	padding: 26px 32px 19px 32px;
}

.content {
	display: flex;
}

.image-wrap {
	width: 100%;
	height: 529px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 37px 0;
	border: 1px solid #000000;
}

.content-image {
	width: 320px;
	transition: 1s;
}

.content-image:hover {
	transform: scale(1.1);
}

.content-text {
	margin: 0 0 34px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
}

.content-menu {
	margin: 0 52px 0 0;
}

.aside-block-navigation {
	border: 1px solid #000000;
	width: 345px;
	padding: 0;
}

.content-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-item-link {
	display: flex;
	align-items: center;
	height: 81px;
	text-decoration: none;
	font-weight: 400;
	font-size: 27px;
	line-height: 27px;
	color: #485863;
	padding-left: 44px;
}

.content-item-link:hover {
	background: #DBDBDB;
	padding-left: 88px;
}

.page-footer {
	margin: 20px 0 30px 0;
	background: rgba(99, 105, 110, 0.48);
	display: flex;
	justify-content: center;
}

.footer-list {
	list-style: none;
	margin: 0 135px 0 0;
	padding: 0;
	width: 875px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-item-link {
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-size: 27px;
	line-height: 27px;
	color: #485863;
	padding: 20px 0 20px 0;
}

.footer-item-link:hover {
	color: #4fcbfe;
	text-decoration: underline;
}

.copyright {
	padding: 0 40px 0 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: #010101;
}